.AltCategoryNavBar {
  margin: 2rem 0 3rem;
  padding: 1rem 2rem;
  
  &__list {
    display:flex;
    justify-content: space-evenly;

    &-link {
      position: relative;
      padding:0.4rem 1.5rem;
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: black;
      }
  
      &:hover {
        &:after {
          width: 100%;
          height: 2px;
          transition: width 0.3s;
        }
      }

      &--active {
        background-color: $color-nav-hover;
      }
    }
  }

  @include md {
    display: flex;
    justify-content: center;
    
    &__list {
      width: 60%;
      flex-wrap: wrap;

      & > li {
       margin-bottom: 2rem;
      }
    }
  }
}
