.Carrousel {
  max-width: 80%;
  
  &__title {
    width: fit-content;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 30px solid rgba(158, 158, 158, 0.521);
  }

  &__slider {
    position: relative;
    border: 1px solid black;
    border-radius: 0 10px 10px;
    //padding: 1rem 0;
    background: rgb(134,165,184);
    background: linear-gradient(180deg, rgba(134,165,184,0.8743872549019608) 0%, rgba(17,57,79,0.9304096638655462) 5%, rgba(10,12,13,0.9164040616246498) 50%, rgba(29,63,82,0.9136029411764706) 68%, rgba(95,119,133,0.8715861344537815) 95%, rgba(163,187,201,0.9192051820728291) 100%);

    &-control {
      position: absolute;
      top: 50%;
      margin-top: -35px;
      width: 5%;
      height: 80px;
      background: rgb(9,42,80);
      background: linear-gradient(180deg, rgba(9, 42, 80, 0.473) 0%, rgba(89, 140, 203, 0.575) 40%, rgba(89, 140, 203, 0.568) 60%, rgba(9, 42, 80, 0.486) 100%);
      font-size: 2.5rem;
      color: rgb(219, 219, 219);

      &.Carrousel__slider-control--left {
        left: 0;
        border-left: none;
        border-radius: 0 25px 25px 0 / 100%;
        text-shadow: -2px 2px 4px rgb(0, 0, 0);
    
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0 25px 25px 0 / 100%;
          background: rgb(92,92,92);
          background: linear-gradient(130deg, rgba(92,92,92,0.2189250700280112) 0%, rgba(163,163,163,0.3225665266106442) 46%, rgba(197,198,200,0.5242471988795518) 78%, rgba(255, 255, 255, 0.692) 100%);
        }
      }

      &.Carrousel__slider-control--right {
        right: 0;
        border-right: none;
        border-radius: 25px 0 0 25px / 100%;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
      }
    }

    &-content {
      margin: 2rem 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img { 
        width: 32%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}
