.NavBarCategory {
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  &__list {
    display:flex;
    justify-content: center;

    & > li {
      &:not(:nth-of-type(1)) {
        margin-left: 1.5rem;
      }

      & > .NavBarCategory__list-link {
        padding: 0.4rem 1.5rem;
        border-radius: 5px;

        &:hover {
          background-color: rgb(255, 230, 102);
        }

        &--active {
          background-color: rgb(255, 230, 102);
        }
      }
    }
  }
  
  @include mobile-medium {
    display:none;
  }
}
