.FlyingCart {
  // TODO Check erreur postcss
  position: absolute;
  top: 72px;
  right: -250px;
  width: 250px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem 0 0;
  background-color: $nav-separator;
  transition: right 0.4s;

  &__product-list{
    margin: 1rem 0;
    height: 600px;
    padding: 1rem 2.5rem 1.5rem;
    overflow-y: scroll;

    & > li:not(:nth-last-of-type(1)) {
      margin-bottom: 3rem;
    }
  }
   
  h1{
    font-size: 1rem;
    font-weight: 700;
    color: $warning-color;
    //padding-bottom: 2rem;
  }

  h2{
    font-size: 1rem;
    color: $color-nav;
    padding-bottom: 2rem;
  }

  .FlyingCart__div{
    width: 100%;
    height: 6rem;
    background-color: $color-nav;
    margin-bottom: 2rem;
  }

  &.FlyingCart--open {
    right: 0;
    transition: right 0.4s;
  }

  &__resume {
    width: 100%;
    position: relative;
    border-top: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    background-color: lighten($nav-separator, 20%);
    padding: 2rem 1rem;

    &-logo {
      height: auto;
      padding: 1rem;
      margin-bottom: 2rem;
      border-radius: 5px;
      background-color: lighten(lightgrey, 20%);

      font-size: 0.7rem;
      line-height: 1.2rem;
      text-align: left;
    }

    & > label {
      display: inline-block;
      margin-bottom: 0.5rem;
      color: $warning-color;
      font-weight: 600;
    }

    &-dep {
      margin-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 2rem;
      border: none;
      background-color: $nav-separator;

      color: $color-nav;
    }

    &-total {
      margin-bottom: 2rem;
      font-weight: bold;
      color: black;
    }

    & > button {
      position: absolute;
      bottom: -6px;
      left: 25%;
      height: 40px;
      width: 130px;
      border: 1px solid #FFC233;
      border-radius: 100% / 25px 25px 0 0;
      background-color: $warning-color;
      color: $nav-separator;

      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
