.PopUp {
  z-index: 20;
  position: fixed;
  top: -200px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  border: 1px solid $color-red-save;
  border-top: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  background: rgb(232,171,72);
  background: linear-gradient(
    180deg, 
    rgba(232,171,72,1) 0%, 
    rgba(241,211,75,1) 34%, 
    rgba(249,230,120,1) 46%, 
    rgba(249,230,120,1) 54%, 
    rgba(241,211,75,1) 64%, 
    rgba(232,171,72,1) 100%
  );
  transition: top 0.8s;

  &__warning {
    font-size: 3rem;
    color: $color-red-save;
  }

  &__message {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.562);
    text-align: left;
    color: $white;
  }

  &--active {
    top: 0;
    transition: top 0.4s;
  }
}
