.AltPageMobile {
  @include mobile-medium {
    max-width: 994px;
  }
  margin:0;
    .Alt {
      &__banner {
        margin-top: -49px;
        position:relative;
      }

      &__bannerImg {
        max-height:500px;
        width:100%;
        object-fit: cover;
      }

      &__bannerBtn {
        position:absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 50px;
        padding-left: 0.8rem;
        background: rgb(255,255,255);
        background: linear-gradient(
          128deg, 
          rgba(255, 255, 255, 0.678) 0%, 
          rgba(215, 215, 215, 0.418) 45%, 
          rgba(227, 227, 227, 0.397) 64%, 
          rgba(45, 50, 51, 0.658) 73%, 
          rgba(205, 205, 205, 0.849) 77%
        );
        text-align: left;
        font-size: 3rem;
        color: rgb(226, 226, 226);
        //text-shadow: -1px 1px rgba(49, 49, 49, 0.329);
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
      }

      &__presentation {
        background-color: #F6F7FB;
        text-align: left;
        padding:3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
      }

      &__wrapper {
        @include mobile-medium {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        max-width: 900px;
        text-align: center;

        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }
      }
      &__title {
        font-size:2rem;
        font-weight: 500;
        margin-bottom:1.2rem;
        text-align: left;
        color:#454343;
      }
      &__description {
        line-height: 1.2rem;
        max-width: 915px;
        text-align: justify;
        color:#454343;
      }

      &__address {
        &--title {
        font-size: 1.1rem;
        font-weight: 700;
        color:#454343;
        padding-bottom: 1rem;
        margin-top: 1rem;
        }
        &--text{
          padding-bottom: 0.5rem;
        }
        
      }
      &__map {
        max-width:915px;
        @include mobile-medium {
          max-width: 900px;
        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }

        &--geoloc{
          width: 500px; // à enlever quand mise en place de la map 
          height: 500px;
          background-color: cadetblue;;
          margin-top: 1rem;
          border-radius: 30px;
        }

        &--btn {
          float:right;
          border:none;
          background-color: cadetblue;
          color: $popUpAlt-backg;
          border-radius: 15px;
          height:38px;
          width:119px;
          font-weight:700;
          margin:0.5rem;
        }
      }
      &__comment {
        width: 100%;
        padding-top: 1rem;
        margin-top:1rem;
        margin-bottom: 1rem;

        &--title{
          font-size: 1.1rem;
          font-weight: bold;
          color:#454343;
          padding-bottom: 1rem;
        }
        
      }
      &__input{
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: #f1f1f1;
      }
      
    }
  }
  .Alt__banner {
    position:relative;
  }
