/*
.AltPageMobile{
  max-width: 1024px;
  margin: 2rem;
  text-align: left;
  @include medium {
    margin: 0 auto;
  }
  .Alt{
    &__back{
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $popUpAlt-backg;
      background-color: $background-nav;
      border: none;
      // position: absolute;
      // left: 3rem;
    }
    &__presentation {
      margin: 5.3rem;
    }

    &__picture{
      margin-top: 1rem;
      margin-bottom: 1rem;
      //text-align: center;
      @include medium {
        display:flex;
        align-items:center;
        justify-content: center;
      }


      &--pics{
        border-radius: 30px;
        object-fit: cover;

        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }
        @include medium {
          width:847px;
          max-height: 231px;
          
          
          
        }
      }

      @include sm{
        text-align: left;
      }

      @include md{
        text-align: center;
      }
    }

    &__title{
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 1rem;
      color: $nav-separator;
    }

    &__description{
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      line-height: 1.2rem;
      text-align: justify;
    }

    &__link{
      width: auto;
      height: auto;
      background-color: $nav-separator;
      color: $warning-color;
      border-radius: 5px;
      border: none;
      margin: 1rem 0;
      padding: 0.8rem;
      

      font-size: 1rem;
      font-weight: bold;
    }

    &__address{
      font-size: 1.1rem;
      font-weight: 700;
      color: $background-nav;
      padding-bottom: 1rem;
      &--text{
        padding-bottom: 0.5rem;
      }
      &--map{
        width: 100%;
        height: 235px;
        background-color: cadetblue;;
        margin-top: 1rem;
      }
    }

    &__hr{
      margin-top: 2rem;
      width: 50%;
      opacity: 0.3;

    }

    &__comment{
      width: 100%;
      padding-top: 1rem;
      margin-bottom: 1rem;

      &--title{
        font-size: 1.1rem;
        font-weight: bold;
        color: $nav-separator;
        padding-bottom: 1rem;

      }
    }
    &__input{
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: #f1f1f1;
    }
  }


}
*/
.AltPageMobile {
  @include mobile-medium {
    max-width: 994px;
  }
  margin:0;
    .Alt {
      &__banner {
        position:relative;
      }
      &__bannerImg {
        max-height:500px;
        width:100%;
        object-fit: cover;
      }
      &__bannerBtn {
        position:absolute;
        top:0;
        left:0;
      }
      &__presentation {
        background-color: #F6F7FB;
        text-align: left;
        padding:3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      &__wrapper {
        @include mobile-medium {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        max-width: 900px;
        text-align: center;

        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }
      }
      &__title {
        font-size:2rem;
        font-weight: 500;
        margin-bottom:1.2rem;
        text-align: left;
        color:#454343;
      }
      &__description {
        line-height: 1.2rem;
        max-width: 915px;
        text-align: justify;
        color:#454343;
      }

      &__address {
        &--title {
        font-size: 1.1rem;
        font-weight: 700;
        color:#454343;
        padding-bottom: 1rem;
        margin-top: 1rem;
        }
        &--text{
          padding-bottom: 0.5rem;
        }
        
      }
      &__map {
        max-width:915px;
        @include mobile-medium {
          max-width: 900px;
        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }

        &--geoloc{
          width: 100%; // à enlever quand mise en place de la map 
          height: 235px;
          background-color: cadetblue;;
          margin-top: 1rem;
          border-radius: 30px;
        }

        &--btn {
          float:right;
          border:none;
          background-color: cadetblue;
          color: $popUpAlt-backg;
          border-radius: 15px;
          height:38px;
          width:119px;
          font-weight:700;
          margin:0.5rem;
        }
      }
      &__comment {
        width: 100%;
        padding-top: 1rem;
        margin-top:1rem;
        margin-bottom: 1rem;

        &--title{
          font-size: 1.1rem;
          font-weight: bold;
          color:#454343;
          padding-bottom: 1rem;
        }
        
      }
      &__input{
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: #f1f1f1;
      }
      
    }
  }
  .Alt__banner {
    position:relative;
  }
