.AltPageMobile {
  @include mobile-medium {
    max-width: 994px;
  }
  margin:0;
    .Alt {
      &__banner {
        margin-top: -49px;
      }

      &__bannerImg {
        max-height:500px;
        width:100%;
        object-fit: cover;
      }

      &__returnToggle{
        width: 80px;
        height: 30px;
        background: $background-nav;
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
      &__returnBtn {
        text-align: left;
        font-size: 2rem;
        font-weight: 700;
        color: $color-nav-hover;
      }

      &__presentation {
        background: $background-lightgrey;
        text-align: left;
        padding:3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
      }

      &__wrapper {
        @include mobile-medium {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        max-width: 900px;
        text-align: center;

        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }
      }
      &__title {
        font-size:2rem;
        font-weight: 500;
        margin-bottom:1.2rem;
        text-align: left;
        color:#454343;
      }
      &__description {
        line-height: 1.2rem;
        max-width: 915px;
        text-align: justify;
        color:#454343;
      }

      &__address {
        &--title {
        font-size: 1.1rem;
        font-weight: 700;
        color:#454343;
        padding-bottom: 1rem;
        margin-top: 2rem;
        }
        &--text{
          padding-bottom: 0.5rem;
        }
        
      }
      &__map {
        display: flex;
        flex-direction: column-reverse;
        max-width:915px;
        @include mobile-medium {
          max-width: 900px;
        }
        @include sm{
          max-width: 350px;
        }

        @include xxs{
          max-width: 250px;
        }

        &--geoloc{
          width: 500px;
          height: 500px;
          background-color: cadetblue;;
          margin-top: 1rem;
          border-radius: 30px;

          @include sm{
            width: 350px;
            height: 350px;
          }
        }

        &--btn {
          border:none;
          background-color: $background-nav-light;
          color: $color-nav;
          border-radius: 5px;
          height:35px;
          width:120px;
          text-align: center;
          font-size: 1rem;
          font-weight:700;
          margin:0.5rem 0 0.5rem 0;
          &:hover{
            color: $color-nav-hover;
          }
        }
      }
      &__comment {
        width: 100%;
        padding-top: 1rem;
        margin-top:1rem;
        margin-bottom: 1rem;

        &--title{
          font-size: 1.1rem;
          font-weight: bold;
          color:#454343;
          padding-bottom: 1rem;
        }
        
      }
      &__input{
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: #f1f1f1;
      }
      
    }
  }
  .Alt__banner {
    position:relative;
  }
