.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  overflow: auto;

  &__main-content {
    margin-top: 120px;
    margin-bottom: 120px;
    
    // to hack margin collapse
    padding-top: 2rem;
    padding-bottom: 1px;

    @include lg{
      padding-top: 1rem;
    }
  
    @include md{
      padding-top: 0;
    }
  
    @include sm{
      padding-top: 0;
    }
  
    @include xs{
      padding-top: 0;
    }
  }
}
