.app {
<<<<<<< HEAD
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  //align-items: center;
  text-align: center;

  &__main-content {
    margin-top: 72px;
    margin-bottom: 150px;
    //display: flex;
    //justify-content: center;
  }
}
=======
  //width: 500px;
  margin: 0 auto;
  text-align: center;
}

>>>>>>> 11d4df5... navBar_hover-notWorking-AM
