.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  overflow: auto;

  &__main-content {
    margin-top: 120px;
    margin-bottom: 120px;
    
    // to hack margin collapse
    padding-top: 2rem;
    padding-bottom: 1px;
  }
}
