.Cart {
  // display: flex;
  // justify-content: center;
  text-align: left;

  &__intro {
    margin: 1.5rem auto;
    width: 50%;
    padding: 1rem 2rem;
    

    &-title {
      margin-bottom: 1rem;
      text-align: left;
      font-size: 2rem;
      font-weight: 700;
    }

    &-content {
      text-align: justify;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  &__proposal {
    display: flex;
    min-height: 400px;

    &-list {
      width: 30%;
      border-right: 2px solid rgb(129, 143, 136);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      background-color: $nav-separator;
      text-align: center;
      overflow-y: scroll;

      &-title {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
        color: $warning-color;
      }

      &-label {
        position: relative;
        margin-bottom: 3rem;
        width: 200px;
        min-height: 170px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.849);
        border-radius: 5px;
        padding: 0.5rem 0 0 0.5rem;
        background-size: cover;
        background-position: center;
        text-align: left;

        &:after {
          content: '';
          position: absolute;
          top: -10px;
          left: -10px;
          width: 0px;
          height: 0px;
          //border: 2px solid rgb(181, 209, 196);
          border-radius: 5px;
        }
      }

      &-item {
        display: none;

        &:checked + .Cart__proposal-list-label {
          &:after {
            width: 220px;
            height: 190px;
            border: 2px solid rgb(181, 209, 196);
            transition: width 0.2s, heigth 0.4s;
          }
          
        }
      }
    }

    &-choices {
      width: 70%;
      padding: 2rem;
      background-color: lighten($nav-separator, 20%);
      
      &-title {
        margin-bottom: 3rem;
        color: $color-nav;
      }
      
      &-option-btn {
        border: 1px solid rgb(134, 134, 134);
        border-bottom: none;
        border-radius: 25px 25px 0 0 / 100%;
        padding: 0.5rem 1rem;
        background-color: $color-nav;
      }

      & input {
        display: none;
      }

      &-tab {
        margin-bottom: 3rem;
        min-height: 250px;
        box-shadow: 4px 4px 6px rgba(75, 72, 72, 0.726);
        border-radius: 10px;
        padding: 2rem 1rem 1rem;
        background-color: $color-nav;
        border-left: 1px solid rgb(134, 134, 134);

        &-content {
          &-name {
            margin-bottom: 1rem;
            width: fit-content;
            border-bottom: 1px solid rgb(158, 158, 158);
            padding: 0 0 0.5rem;
            font-size: 2.5rem;
            font-weight: 300;
          }

          &-logo {
            float: left;
          }

          &-adress {
            margin-left: 6rem;
            font-size: 0.9rem;
          }
          
          &-link {
            clear: both;
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
