.Cart {
  text-align: left;

  &__intro {
    margin: 0 auto 1.5rem;
    width: 50%;
    padding: 1rem 2rem;
    
    &-title {
      margin-bottom: 1rem;
      //text-align: left;
      font-size: 2rem;
      font-weight: 700;
    }

    &-content {
      text-align: justify;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  &__proposal {

    &-list {
      margin-bottom: 3rem;
      text-align: center;
 
      &-title {
        margin: 0 0 2rem 2rem;
        width: fit-content;
        padding: 0.5rem 1rem;
        background-color: $nav-separator;
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-nav-hover;
      }

      &-content {
        z-index: 2;
        position: relative;
        margin: 0 auto;        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 6rem;

        &-label {
          position: relative;
          margin: 0 1rem 1.5rem;
          width: 210px;
          min-height: 200px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.849);
          border-radius: 5px;
          display: inline-block;
          background-size: cover;
          background-position: center;
  
          & > span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 48px;
            padding:0.5rem;
            background-color: rgba(0, 0, 0, 0.507);
            text-align: left;
            font-weight: bold;
            color: rgb(219, 219, 219);
          }
  
          &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: -10px;
            width: 0px;
            height: 0px;
            border-radius: 5px;
          }
        }

        &-item {
          display: none;
  
          &:checked + .Cart__proposal-list-content-label {
            &:after {
              width: 230px;
              height: 220px;
              border: 2px solid rgb(0, 0, 0);
              transition: height 0.5s 0.2s, width 0.2s;  
            }     
          }
        }

        &:after {
          content: '';
          z-index: -1;
          position: absolute;
          bottom: -15px;
          left: 0;
          margin-left: 2%;
          width: 96%;
          height: 75%;
          border-bottom: 1px solid rgb(6, 102, 78);
          border-radius: 0 0 10px 10px;
          background: rgb(248,249,248);
          background: linear-gradient(
            180deg, 
            rgba(248,249,248,0.6643032212885154) 8%, 
            rgba(154,219,216,0.8183648459383753) 51%, 
            rgba(112,198,191,0.9444152661064426) 74%, 
            rgba(116,219,209,1) 89%, 
            rgba(63,116,111,1) 100%
          );
          clip-path: polygon(12% 0, 88% 0, 100% 100%, 0 100%);
        }
      }
    }

    &-choices { 
      &-header {
        position: relative;
        height: 88px;
        display: flex;
        background-color: lighten($nav-separator, 20%);

        &-title {
          padding: 2rem 0 2rem 2rem;
          font-size: 1.5rem;
          color: $color-nav;
        }

        &-options {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 50px;
          clip-path: polygon(55px 0, 100% 0, 100% 100%, 0 100%);
          border: 2px solid rgb(147, 171, 180);
          border-bottom: none;
          padding: 3px 40px 2px 9px;
          background: rgb(100,113,119);
          background: linear-gradient(
            180deg, 
            rgba(100,113,119,1) 0%, 
            rgba(180,199,210,1) 51%, 
            rgba(200,217,228,1) 74%, 
            rgba(186,209,230,1) 91%, 
            rgba(100,113,119,1) 100%
          );

          &-btn {
            margin-right: -40px;
            height: 42px;
            width: 185px;
            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
            display: inline-block;
            border: 1px solid rgb(211, 210, 199);
            border-radius: 0 20px 0 20px / 100%;
            padding: 0.6rem 0;
            background: rgb(255,253,245);
            background: linear-gradient(
              180deg, 
              rgba(255,253,245,1) 14%, 
              rgba(226,223,203,1) 59%, 
              rgba(181,177,158,1) 91%, 
              rgba(129,125,104,1) 100%
            );
            text-align: center;
            transition: transform 0.2s;     
          }

          & > input {
            display: none;
    
            &:hover + .Cart__proposal-choices-header-options-btn {
              font-weight: 600;
              transform: scale(0.9);
              transition: transform 0.3s;
            }

            &:checked + .Cart__proposal-choices-header-options-btn {
              font-weight: 600;
              transform: scale(0.9);
              transition: transform 0.3s;
            }
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 4px;
            right: 2px;
            width: 32px;
            height: 32px;
            background: rgb(255,255,255);
            background: linear-gradient(
              135deg, 
              rgba(255,255,255,0.8211659663865546) 0%, 
              rgba(206,230,236,0.7987570028011204) 29%, 
              rgb(135, 166, 173) 46%, 
              rgba(210,233,241,1) 49%, 
              rgb(139, 169, 175) 58%, 
              rgba(207,233,240,1) 61%, 
              rgb(139, 171, 179) 69%, 
              rgba(207,233,240,1) 71%, 
              rgb(136, 166, 173) 79%, 
              rgb(220, 244, 252) 81%, 
              rgb(82, 99, 110) 100%
            );
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
          }
        }
      }
      
      &-tab {
        min-height: 360px;
        padding: 2rem 1rem 1rem;
        overflow-y: auto;

        &-content {
          margin-bottom: 3rem;

          &-name {
            margin-bottom: 1rem;
            width: fit-content;
            border-bottom: 1px solid rgb(158, 158, 158);
            padding: 0 0.5rem 0.5rem;
            font-size: 2.5rem;
            font-weight: 300;
          }

          & > section {
            display: flex;

            .Cart__proposal-choices-tab-content-logo {
              width: 200px;
              height: 200px;
              border: 1px solid rgb(180, 180, 180);
              background-color: white;
              object-fit: contain;
            }

            .Cart__proposal-choices-tab-content-address {
              margin-top: 0.5rem;
              margin-left: 1.5rem;
              font-size: 0.8rem;

              & > li:not(:nth-last-of-type(2)) {
                margin-bottom: 0.3rem;
              }

              &-link {
                margin-top: 1rem;
                border: 2px solid darken($color-nav-hover, 20%);
                border-radius: 5px;
                display: inline-block;
                padding: 0.5rem 1rem;
                background-color: $color-nav-hover;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  // ========== //
  // Media quiery
  @include lg {
    &__intro {
      width: 60%;
    }
  }

  @include sm {
    &__intro {
      width: 70%;
    }

    &__proposal {
      &-list {
        &-content {
          padding: 0 5rem;
          &:after {
            height: 100%;
          }
        }
      }

      &-choices {
        &-header {
          &-title {
            padding: 0.9rem 0 2rem 2rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  @include xs {
    &__intro {
      width: 80%;
    }

    &__proposal {
      &-list {
        &-content {
          padding: 0 3rem;
        }
      }

      &-choices {
        &-header {
          &-options {
            clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%);

            &-btn {
              margin-right: -30px;
              width: 140px;
              clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
