.CategoryPage { 
  position: relative;
  padding: 0 0 2rem;

  &__banner {
    margin-bottom: 3rem;
  
    &-img {
      max-height:250px; 
      width: 100%;
      object-fit: cover;
    }
  }

  &__subCategory {
    &-list {
    display:flex;
    align-items: center;
    justify-content: center;
    
      &-item {
        margin-bottom: 4rem;
        box-shadow: -4px -3px 2px inset rgba(85, 139, 161, 0.603);
        border-radius: 20px;
        background: rgb(118,193,222);
        background: linear-gradient(
          220deg, 
          rgba(130, 194, 219, 0.849) 0%, 
          rgba(100, 167, 209, 0.664) 28%, 
          rgb(180, 224, 241) 79%, 
          rgba(100, 150, 182, 0.671) 94%, 
          rgba(85, 137, 172, 0.904) 100%
        );
      
        &-link {
          position: relative;
          width: 90px;
          height: 90px;
          border-bottom: 1px solid transparent;
  
          &-img {
            width: 90px;
            height: 90px;
            padding: 0.5rem;
          }
  
          &-back {
            z-index: -1;
            position: absolute;
            bottom: 3px;
            left: 2px;
            width: 90px;
            height: 90px;
            border-radius: 20px;
            display: block;
            background-color: rgb(100, 164, 189);
            background: linear-gradient(
              180deg, 
              rgba(118, 193, 222, 0.192) 0%, 
              rgba(73, 131, 170, 0.904) 100%
            );
            transform: scale(0.9);
            filter: blur(2px);
          }
  
          &--active {
            border-bottom: 3px solid $color-nav-hover;
          }
        }
  
        &:not(:nth-of-type(1)) {
          margin-left:2rem;
        }
      }
    }
  }

  &__product-list {
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content: center;
  
    &-empty-message {
      margin-top: 2rem;
    }
  }

  @include md {
    padding: 0;
    padding-bottom: 2rem;
  }
}