.CategoryPage { 
  position: relative;
  padding: 0 0 2rem;
  
  @include md {
    padding: 0;
    padding-bottom: 2rem;
  }
}

.MainImgCategory {
  margin-bottom: 3rem;

  &__img {
    max-height:250px; 
    width: 100%;
    object-fit: cover;
  }
}

.Pictogram {
  &__sub-list {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
  
  }
  &__sub {
  cursor:pointer;
  background-color: #C4C4C4;
  height:115px; // à enlever quand picto mis en place
  width:88px; // à enlever quand picto mis en place
  margin-left:2rem;
  border-radius: 30px;
  }
  // @include mobile-medium {
  //   display:none;
  // }
}
.ContainerSubCategoriesImg {
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  justify-content: center;

  &__empty-message {
    margin-top: 2rem;
  }
}
