.Home {
  margin-bottom: 3rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  & > button {
    width: 50px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include md {

    &__content {
      max-width: 100vw;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: hidden;
    }
  }
}
