.Home {
  //margin-top: 3rem;
  margin-bottom: 3rem;

  & > button {
    width: 50px;
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include md {

    & > button {
      margin-bottom: 3rem;
      display: inline-block;
    }

    &__content {
      max-width: 100vw;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: hidden;
    }
  }
}
