@mixin medium {
  @media (min-width:657px) {
      @content;
  }
}
@mixin mobile-medium {
  @media (max-width:1006px){
      @content;
  }
}
@mixin medium-only {
  @media (min-width:658px) and (max-width:1006px) {
      @content;

  }
}

@mixin large {
  @media (min-width:1007px) {
      @content;
  }
}

@mixin xl {
  @media (max-width:1200px) {
    @content;
  } 
}


@mixin burgerTest{
  @media (max-width:1200px){
        // -- SUBLINK HOVER SETTINGS -- //

        .navLink--1:hover .navBar__subList--1{
          left: 100%;
       }
       .navBar__subList--1:hover{
          left: 100%;
       }
   
   
       .navLink--2:hover .navBar__subList--2{
         top: -2.99rem;
         left: 100%;
       }
       .navBar__subList--2:hover{
         left: 100%;
       }
   
   
       .navLink--3:hover .navBar__subList--3{
         top: -5.95rem;
         left: 100%;
       }
       .navBar__subList--3:hover{
         left: 100%;
       }
   
   
       .navLink--4:hover .navBar__subList--4{
         top: -2.95rem;
         left: 100%;
       }
       .navBar__subList--4:hover{
         left: 100%;
       }
   
   
       .navLink--5:hover .navBar__subList--5{
         top: -8.95rem;
         left: 100%;
       }
       .navBar__subList--5:hover{
         left: 100%;
       }
  }
}
