@mixin xxs {
  @media (max-width: 300px) {
      @content;
  }
}

@mixin medium {
  @media (min-width:657px) {
      @content;
  }
}
@mixin mobile-medium {
  @media (max-width:1006px){
      @content;
  }
}
@mixin medium-only {
  @media (min-width:658px) and (max-width:1006px) {
      @content;

  }
}
@mixin large {
  @media (max-width:1200px) {
      @content;
  }
}

// ==========
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 992px) {
      @content;
  }
}

@mixin lg {
  @media (max-width: 1200px) {
      @content;
  }
}

// ==========
@mixin xl {
  @media (max-width:1200px) {
    @content;
  } 
}

@mixin btn-burger{
  @media (max-width:1200px){
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked ~ .navBar__list {
      visibility: visible;
      background-color: $background-nav;  
    }
  
    .burger-btn{
      height: 45px;
      width: 45px;
      padding:5px;
      background-color: $background-nav;
      position: absolute;
      top: 10.6%;
      left:0%;
  
      .btn-bars:nth-child(3){
        margin-bottom: 0;
      }
      .btn-bars{
        height: 4px;
        background-color: $background-nav-light;
        margin: 6px 0;
      }
    }
  }
}
@mixin burgerTest{
  @media (max-width:1200px){

        // -- SUBLINK HOVER SETTINGS -- //

        .navLink--1:hover .navBar__subList--1{
          left: 100%;
       }
       .navBar__subList--1:hover{
          left: 100%;
       }
   
   
       .navLink--2:hover .navBar__subList--2{
         top: -2.99rem;
         left: 100%;
       }
       .navBar__subList--2:hover{
         left: 100%;
       }
   
   
       .navLink--3:hover .navBar__subList--3{
         top: -5.95rem;
         left: 100%;
       }
       .navBar__subList--3:hover{
         left: 100%;
       }
   
   
       .navLink--4:hover .navBar__subList--4{
         top: -2.95rem;
         left: 100%;
       }
       .navBar__subList--4:hover{
         left: 100%;
       }
   
   
       .navLink--5:hover .navBar__subList--5{
         top: -8.95rem;
         left: 100%;
       }
       .navBar__subList--5:hover{
         left: 100%;
       }
  }
}
