// Font-size
$sm-font: 0.8rem;
$md-font: 1rem;
$lg-font: 1.2rem;
$xl-font: 2rem;
$xxl-font: 3rem;

// Font-weight
$xs-weight: 300;
$sm-weight: 600;
$md-weight: 700;
$lg-weight: 900;

// Colors swatche 
$text-color: black;
$background-header-green:#4F928B;
$background-nav: #4D928B;
$background-nav-light: #60A9A2;
$background-lightgrey: #F6F7Fb;
$background-mediumgrey: #92928B;
$background-mediumgreyRGB: rgb(146, 146, 139);
$nav-separator:#325D59;
$submenu-separator: #88BFB9;
$color-nav:#CCE2E5;
$color-nav-hover: #FFDA85;
$color-border-yellow: #FFC233;
$color-white:#ffffff;
$color-green-amount: #008000;
$color-red-save:#ff0000;
$color-company-em: #73787a;

$white: rgb(247, 247, 247);