<<<<<<< HEAD
$primary-color: rgb(204, 226, 229);
$secondary-color: rgb(146, 146, 139);
$tertiary-color: rgb(79, 146, 139);
$quaternary-color: rgb(101, 145, 87);
$warning-color: rbg(255, 218, 133);
$text-color: black;

$title-size : 2rem;
=======
$background-nav: #4D928B;
$background-nav-light: #60A9A2;
$nav-separator:#325D59;
$submenu-separator: #88BFB9;
$color-nav:#ccE2E5;
$color-nav-hover: #FFDA85
>>>>>>> 11d4df5... navBar_hover-notWorking-AM
