$primary-color: rgb(204, 226, 229);
$secondary-color: rgb(146, 146, 139);
$tertiary-color: rgb(79, 146, 139);
$quaternary-color: rgb(101, 145, 87);
$warning-color: #FFDA85;
$text-color: black;
$background-color: #f6f7fb;

$title-size : 2rem;
$breadcrumb-size : 0.75rem;
$background-nav: #4D928B;
$background-nav-light: #60A9A2;
$nav-separator:#325D59;
$submenu-separator: #88BFB9;
$color-nav:#ccE2E5;
$color-nav-hover: #FFDA85
