.Home {
  margin-bottom: 3rem;

  &__swipe-btn {
    position: relative;
    margin-bottom: 3rem;
    @include swipe-btn;  
    display: none;

    &:nth-of-type(1) {
      margin-right: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include md {
    &__swipe-btn {
      display: inline-block;
    }

    &__content {
      position: relative;
      max-width: 100vw;
      min-height: 650px;
      overflow-x: hidden;
    }
  }

  @include sm {
    &__content {
      min-height: 1020px;
    }
  }

  @include xs {
    &__content {
      min-height: 1830px;
    }
  }
}
