@use 'reset';
@import './Utils/vars';
@import './Utils/mixins';
@import './Components/flyingCart';
@import './Components/carrousel';
@import './Components/categoryNavBar';
@import './Components/subCategoriesImg';
@import './Layouts/app';
@import './Layouts/header';
@import './Layouts/navBar';
@import './Layouts/home';
@import './Layouts/cart';
@import './Layouts/aPropos';
@import './Layouts/mentionsLegales';
@import './Layouts/page404';
@import './Layouts/footer';
@import './Layouts/categoryPage';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:export {
  margin: 1rem;
}
