@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './Utils/vars';
@import './Utils/mixins';
@import './Components/flyingCart';
@import './Components/carrousel';
@import './Components/categoryNavBar';
@import './Components/subCategoriesImg';
@import './Components/nav';
@import './Components/burger';
@import './Components/burger2';
@import './Layouts/app';
@import './Layouts/header';
@import './Layouts/home';
@import './Layouts/productPage';
@import './Layouts/cart';
@import './Layouts/aPropos';
@import './Layouts/mentionsLegales';
@import './Layouts/page404';
@import './Layouts/footer';
@import './Layouts/categoryPage';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:export {
  margin: 1rem;
}
